.links__grid {
    list-style: none;
    padding: 0;
    margin: 0;

    display: grid;
    grid-template-rows: repeat(6, minmax(0, 1fr));
    grid-template-columns: repeat(5, minmax(0, 1fr));

    row-gap: var(--grid-gap-row, 1rem);
    column-gap: var(--grid-gap-col, 16px);

    width: 100%;
    min-height: 16rem;

    margin-inline: auto;
}

/* item se posiciona con layout (variables inyectadas desde TS) */
.links__item {
    margin: 0;
    grid-row: var(--row, auto) / span var(--row-span, 1);
    grid-column: var(--col, auto) / span var(--col-span, 1);
}

/* Card base */
.links__card {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    padding: 1.5rem;
    border-radius: var(--radius-2);

    border: 1px solid var(--color-border);
    background: var(--bg-card);
    box-shadow: var(--shadow-1, 0 2px 8px rgba(0, 0, 0, 0.5));
    backdrop-filter: blur(var(--blur-2));

    text-decoration: none;
    color: var(--color-card-content);

    &:hover {
        background-color: var(--bg-card-hover);
        cursor: pointer;
        backdrop-filter: blur(var(--blur-1));
        border: 1px solid var(--color-border-hover);
    }

    &:focus-visible {
        outline: 2px solid var(--focus);
        outline-offset: 3px;
    }
}

.links__card--cta {
    padding: 1rem 3rem;
    font-weight: 700;
}

.links__card--card {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 0.75rem;
    color: var(--color-card-content)
}

.links__label {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -0.03rem;
    color: var(--color-card-content)
    
}

.links__icon-img {
    width: 32px;
    height: 32px;
    display: block;

    background-color: currentColor;

    -webkit-mask: var(--icon) no-repeat center / contain;
    mask: var(--icon) no-repeat center / contain;
}

.links__item--dock {
    display: flex;
    
}

.links__dock {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;

    border-radius: var(--radius-2);
    border: 1px solid var(--color-border);
    background: var(--surface);
    box-shadow: var(--shadow-1, 0 2px 8px rgba(0, 0, 0, 0.10));
    backdrop-filter: blur(var(--blur-glass, 12px));

}

.links__dock-link {
    width: 44px;
    height: 44px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: var(--color-card-content);

    &:hover {
        background-color: var(--bg-card-hover);
        cursor: pointer;
        backdrop-filter: blur(var(--blur-1));
        border-radius: var(--radius-round);
        border: 1px solid var(--color-border-hover);
    }

    &:focus-visible {
        outline: 2px solid var(--focus);
        outline-offset: 3px;
        border-radius: 12px;
    }
}

.links__dock-icon {
    width: 32px;
    height: 32px;
    display: block;

    background-color: currentColor;

    -webkit-mask: var(--icon) no-repeat center / contain;
    mask: var(--icon) no-repeat center / contain;
}