.profile{
    margin: 0;

    &__inner { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }

    &__avatar { 
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0; 
        width: fit-content;
    }

    &__avatar-img { 
        position: relative;
        display: inline-block;
        border-radius: var(--radius-round);
        border: 6px solid var(--color-avatar);
    }
    
    &__badge { 
        position: absolute;
        right: 2px;
        bottom: 28px;
        transform: translate(35%, 35%);
        font-size: 1.5rem;
        line-height: 1;
        pointer-events: none;
    }

    &__heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
    
    &__name {
        color: var(--color-4);
        letter-spacing: -0.08rem;
    }

    &__tagline {
        color: var(--color-4);
        line-height: 1;
        letter-spacing: -0.02rem;
    }
}