.profile{
    margin: 0;

    &__inner { 
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__avatar { 
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
    }

    &__avatar-img { 
        position: relative;
        display: inline-block;
        border-radius: var(--radius-round);
        border: 6px solid var(--color-avatar);
    }
    
    &__badge { 
        position: absolute;
        padding: 0;
        right: 56px;
        top: 88px;
        //transform: translate(25%, 25%);
        font-size: 1.5rem;
        line-height: 1;
    }

    &__heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    &__name {
        color: var(--color-4);
    }

    &__tagline {
        color: var(--color-4);
    }
}