.theme--marces {
    --font-sans: var(--font-sans-marces);

    --color-1:#03D875;
    --color-2: #2E6BEF;
    --color-4: #fefefe;
    --color-card-content: #263248;
    --color-footer: #8F8F8F;

    --bg-card: #FBFBFB;
    --bg-gradient: linear-gradient(179deg, var(--color-2) 7.45%, var(--color-1) 42.31%, var(--color-4) 60.95%);
}

.theme--arodav {
    --font-sans: var(--font-sans-arodav);

    --color-1:#0C1827;
    --color-2: #0A2B7D;
    --color-3: #1887AF;
    --color-4: #fefefe;
    --color-card-content: #fefefe;
    --color-footer: #f7f7f7;

    --bg-card: linear-gradient(89deg, rgba(251, 251, 251, 0.28) 0.41%, rgba(115, 115, 115, 0.10) 97.28%);
    --bg-gradient: linear-gradient(180deg, var(--color-1) 4.98%, var(--color-2) 36.84%, var(--color-3) 74.67%, var(--color-4) 103.54%);
}